<div class="top">
  <div class="top-title">
    <%= image_tag 'eigatomo.png', class: 'hoge' %>
  </div>
  <div>
    <p class="top-introduction">
      配信や一人映画の時代に誰かと映画を観ませんか？<br>
      鑑賞前に前作の復習するのも良し。鑑賞後に感想を語り合うのも良し。
    </p>
  </div>
</div>
<div id="notice"><%= flash[:notice] %></div>